/* @import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap"); */
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4iYl.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4iYl.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4iYl.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?4w1jzc");
  src: url("../fonts/icomoon.eot?4w1jzc#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?4w1jzc") format("truetype"),
    url("../fonts/icomoon.woff?4w1jzc") format("woff"),
    url("../fonts/icomoon.svg?4w1jzc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-color: #d0473e;
  --primary-font-size: 1.4rem;
  --primary-font-family: "Jost", sans-serif;
  --black-color: #111;
  --white-color: #fff;
  --header-mobile-height: 5rem;
  --text-color: #555;
  --primary-font-weight: 400;
  --border-color: #ebebeb;
}
.icon-cart_v2:before {
  content: "\e908";
  color: var(--white-color);
}
.icon-star:before {
  content: "\e907";
}
.icon-db_arrow_up:before {
  content: "\e906";
  color: var(--white-color);
}
.icon-minus:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
  color: var(--white-color);
}
.icon-arrow_left:before {
  content: "\e90c";
}
.icon-arrow_right:before {
  content: "\e90d";
}
.icon-nav_menu:before {
  content: "\e90e";
}
.icon-cart_icon:before {
  content: "\e900";
}
.icon-heart_icon:before {
  content: "\e901";
}
.icon-Recently_viewed_icon:before {
  content: "\e902";
}
.icon-account_icon:before {
  content: "\e903";
}
.icon-search_icon:before {
  content: "\e904";
}
.icon-arrow_down:before {
  content: "\e905";
  color: var(--text-color);
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Header */
header {
  position: relative;
  top: 0;
  z-index: 2;
  scroll-behavior: smooth;
  background-color: white;
}
.sticky {
  position: sticky;
  box-shadow: 0 0.01rem 0.1rem rgba(0, 0, 0, 0.5);
  scroll-behavior: smooth;
  animation: header_go_up 0.5s ease;
}
@keyframes header_go_up {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: none;
  }
}
.header_top span {
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  cursor: pointer;
}
.header_top span i::before {
  transition: all 0.3s linear;
  opacity: 0.5;
}
.header_top span:hover i::before {
  opacity: 1;
}
.header_top p {
  margin-bottom: 0;
  color: var(--white-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  padding: 1rem 0;
  text-align: center;
}
.header_top {
  background-color: #d0473e;
}
.header_mid a {
  text-decoration: none;
}
.header_mid span,
.header_mid a {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
}
.header_mid i {
  font-size: 0.5rem;
  margin-left: 0.5rem;
  position: relative;
  top: -0.2rem;
}
.header_mid {
  display: flex;
  border-bottom: 0.1rem solid var(--border-color);
  padding: 1rem 0px;
}
.header_mid_text_left span:nth-child(1) {
  margin-right: 2.5rem;
}
.header_mid_text_right {
  gap: 2.5rem;
}
.header_mid_text_mid a span {
  font-weight: 500;
  text-decoration: underline;
}
.header_bot img {
  height: 100%;
  width: 9.5rem;
}
.header_bot_list {
  height: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.header_bot_link {
  text-decoration: none;
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  transition: all 0.3s linear;
  line-height: normal;
}
.header_bot_link i {
  margin-left: 0.5rem;
  font-size: 0.5rem;
  position: relative;
  top: -0.2rem;
}
.header_bot_item,
.header_bot_right,
.header_bot_image {
  cursor: pointer;
  padding: 2.5rem 0px;
}
.header_bot_image {
  display: block;
}
.header_bot_item:hover .header_bot_link,
.header_bot_item:hover .header_bot_link ~ i::before {
  color: #d0473e;
}
.header_bot_right {
  height: 100%;
  margin-right: 1rem;
  gap: 2rem;
}
.header_bot_icon i {
  font-size: 1.6rem;
  font-weight: 500;
}
.header_bot_icon i::before {
  transition: all 0.3s linear;
  color: black;
}
.header_bot_icon {
  text-decoration: none;
}
.header_bot_icon:hover i::before {
  color: #d0473e;
}
.header_bot_icon span {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #d0473e;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white;
  top: -8px;
  right: -1rem;
}

.shop_item {
  background-color: white;
  left: 10%;
  right: 10%;
  top: 95%;
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
  padding: 3.5rem 4rem 2.5rem 4rem;
  border-radius: 3px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.05);
}

.shop:hover .shop_item {
  visibility: visible;
  opacity: 1;
}
.shop_item_img:nth-child(2) img {
  border-radius: 3px;
}
.shop_item_img.shop_img button {
  width: 70%;
  padding: 1.6rem 5rem;
}
.shop_item_img:hover img {
  transform: scale(1.03);
}
.header_bot_mid {
  height: 100%;
}
.page_item {
  padding: 2rem 0px;
  width: 450%;
  background-color: white;
  top: 105%;
  border-radius: 3px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.page:hover .page_item {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.page_list_item_link {
  display: block;
  padding: 1rem 0px 1rem 3rem;
  text-decoration: none;
  color: var(--text-color) 555;
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  transition: all 0.2s linear;
}
.shop_item .page_list_item_link {
  padding-left: 0px;
}
.page_list_item_link:hover {
  color: var(--text-color) 555;
  transform: translateX(1rem);
}
.blog:hover .page_item {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.product_item {
  padding: 3.5rem 4rem 2.5rem 4rem;
  background-color: white;
  left: 0;
  right: 0;
  top: 100%;
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
  border-radius: 3px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.05);
}
.product_item span,
.shop_item span {
  display: block;
  color: var(--black-color);
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: var(--primary-font-family);
  font-weight: 500;
}
.product_item .page_list .page_list_item_link {
  padding: 0.5rem 0px;
  line-height: 2;
}
.product:hover .product_item {
  top: 95%;
  visibility: visible;
  opacity: 1;
}
.nav-bar_mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  top: 0;
  z-index: 3;
  overflow-y: auto;
  background-color: white;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}
.go_in {
  transform: none;
}
.nav_bar_head_text span {
  cursor: pointer;
  opacity: 0.6;
  color: var(--white-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.nav_bar_head_text {
  padding: 1rem 0px;
}
.nav_bar_head_text span:nth-child(2) {
  margin-left: 3rem;
}
.mobile-nav::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.2s forwards;
}

.close_navbar_btn {
  cursor: pointer;
  padding-right: 1.5rem;
}
.nav_bar_head {
  z-index: 2;
  position: sticky;
  top: 0;
  height: 5rem;
  padding: 0px 3rem;
  padding-right: 1.5rem;
  background: #d0473e;
}
.nav_bar_head_text .active {
  opacity: 1;
}
.menu_item_link {
  border-bottom: 0.1rem solid #e5e8ec;
  display: block;
  padding: 1.5rem 0px;
  text-decoration: none;
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.2s linear;
}
.menu_item_link::hover {
  color: #d0473e;
}
.menu_item_link .icon-arrow_right {
  font-size: 1rem;
}
.menu_item {
  padding: 0px 3rem;
}
.menu_item:hover .menu_item_link{
   color: #d0473e;
}
.menu_item_link .icon {
  margin-right: 1rem;
}
.shop_layout .menu_item_link,
.shop_page .menu_item_link,
.home .menu_item_link,
.pagee .menu_item_link,
.product_layout .menu_item_link,
.product_feature .menu_item_link,
.product_detail .menu_item_link,
.thumb_position .menu_item_link,
.boot_sale .menu_item_link,
.product_type .menu_item_link,
.blogg .menu_item_link {
  font-weight: 400;
}

.country {
  display: block;
  padding: 0.2rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}
.country_item {
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.country_list {
  margin-top: 1.5rem;
}
.home,
.shopp {
  z-index: 4;
}
.home .nav_bar_head,
.shopp .nav_bar_head,
.shop_layout .nav_bar_head,
.shop_page .nav_bar_head,
.blogg .nav_bar_head,
.pagee .nav_bar_head,
.productt .nav_bar_head,
.product_layout .nav_bar_head,
.product_feature .nav_bar_head,
.product_detail .nav_bar_head,
.thumb_position .nav_bar_head,
.boot_sale .nav_bar_head,
.product_type .nav_bar_head {
  background-color: #f5f5f5;
}
.home .nav_bar_head_text span,
.shopp .nav_bar_head_text span,
.shop_layout .nav_bar_head_text span,
.shop_page .nav_bar_head_text span,
.pagee .nav_bar_head_text span,
.blogg .nav_bar_head_text span,
.productt .nav_bar_head_text span,
.product_layout .nav_bar_head_text span,
.product_feature .nav_bar_head_text span,
.product_detail .nav_bar_head_text span,
.thumb_position .nav_bar_head_text span,
.boot_sale .nav_bar_head_text span,
.product_type .nav_bar_head_text span {
  margin-left: 1.5rem;
  color: var(--text-color);
}
.home .nav_bar_head_text i,
.shopp .nav_bar_head_text i,
.shop_layout .nav_bar_head_text i,
.shop_page .nav_bar_head_text i,
.pagee .nav_bar_head_text i,
.blogg .nav_bar_head_text i,
.productt .nav_bar_head_text i,
.product_layout .nav_bar_head_text i,
.product_feature .nav_bar_head_text i,
.product_detail .nav_bar_head_text i,
.thumb_position .nav_bar_head_text i,
.boot_sale .nav_bar_head_text i,
.product_type .nav_bar_head_text i {
  cursor: pointer;
  position: relative;
  top: -0.1rem;
}
.home .close_navbar_btn i::before,
.shopp .close_navbar_btn i::before,
.shop_layout .close_navbar_btn i::before,
.shop_page .close_navbar_btn i::before,
.pagee .close_navbar_btn i::before,
.blogg .close_navbar_btn i::before,
.productt .close_navbar_btn i::before,
.product_layout .close_navbar_btn i::before,
.product_feature .close_navbar_btn i::before,
.product_detail .close_navbar_btn i::before,
.thumb_position .close_navbar_btn i::before,
.boot_sale .close_navbar_btn i::before,
.product_type .close_navbar_btn i::before {
  color: var(--text-color);
}
.shop_layout,
.shop_page {
  z-index: 5;
}
.layer.mobile-nav::before {
  opacity: 1;
  visibility: visible;
}
.shop_img {
  z-index: 1;
  width: 100%;
  aspect-ratio: 0.81300813008;
}
.shop_img img {
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
}
#shop_page {
  border-bottom: none;
}
.menu_item:nth-child(4) .shop_img {
  margin-top: 2rem;
}
.shop_img button {
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  padding: 1.6rem 9.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 3rem;
}
.cate {
  display: none;
  top: 5rem;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}
.mobile-item-close {
  animation: fadein 0.5s linear;
  display: block;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.feature_collection {
  margin-bottom: 10rem;
}
.feature_collection_text {
  text-align: center;
}
.feature_collection_text h2 {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: 4rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  margin-bottom: 0.5rem;
}
.feature_collection_text p {
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  margin-bottom: 0px;
}
.feature_collection_main {
  margin-top: 4rem;
}
.feature_collection_main img {
  transition: all 0.3s linear;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.feature_collection_img_1 {
  height: 100%;
  border-radius: 1rem;
  background: #ecedef;
  aspect-ratio: 0.61643835616;
}
.feature_collection_img_2 {
  height: 100%;
  border-radius: 1rem;
  flex: 1;
  aspect-ratio: 1.28571428571;
}
.feature_collection_img_3 {
  height: 100%;
  border-radius: 1rem;
  flex: 1;
  aspect-ratio: 1.28571428571;
}
.feature_collection_img_4 {
  height: 100%;
  border-radius: 1rem;
  aspect-ratio: 0.61643835616;
}
.feature_collection_img:hover img {
  transform: scale(1.03);
}
.main-btn {
  display: block;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--black-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  background-color: white;
  border-radius: 3rem;
  padding: 14px 2rem;
  width: 20rem;
}
.main-btn:hover {
  color: var(--black-color);
}
.trending_list_product {
  transition: all 0.3s linear;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 10rem;
}
.trending_list_product::-webkit-scrollbar {
  display: none;
}
.trending_product_image {
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 0.75;
}
.trending_product_image img {
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
}
.trending_product_image img:nth-child(2) {
  border-radius: 1rem;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.trending_product_image:hover img:nth-child(2) {
  border-radius: 1rem;
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}
.trending_product_image:hover img:nth-child(1) {
  opacity: 0;
  visibility: hidden;
}
.trending_text {
  margin-bottom: 4rem;
}
.trending_product_text {
  margin-top: 1.6rem;
  gap: 8px;
}
.trending_product_text h3 {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  margin-bottom: 0;
}
.trending_product_text .price {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.discount {
  top: 1.5rem;
  left: 1.5rem;
  border-radius: 3rem;
  background: #d73f0f;
  width: 5rem;
  height: 2.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: var(--primary-font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
}
.back-btn {
  border: 0.1rem solid var(--border-color);
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 37%;
  transform: translateY(-50%);
  left: 1rem;
  z-index: 1;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
  transform: translateX(2rem);
  cursor: pointer;
}
.next-btn {
  border: 0.1rem solid var(--border-color);
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 37%;
  transform: translateY(-50%);
  right: 1rem;
  z-index: 1;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-2rem);
  cursor: pointer;
}
.trending_wrap:hover .next-btn,
.trending_wrap:hover .back-btn {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.trending_icon_list {
  top: 1.5rem;
  right: 1.5rem;
  gap: 0.5rem;
  transition: all 0.2s linear;
  transform: translateX(2rem);
  opacity: 0;
  visibility: hidden;
}
.trending_product_image:hover .trending_icon_list {
  transform: none;
  opacity: 1;
  visibility: visible;
}
.trending_icon {
  position: relative;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 10rem;
  background: var(--white-color);
  box-shadow: 0px 0.5rem 3rem 0px rgba(0, 0, 0, 0.05);
}
.trending_icon i::before {
  transition: all 0.2s linear;
  font-size: 1.4rem;
  color: var(--black-color);
}
.trending_icon:hover {
  background: var(--black-color);
}
.trending_icon:hover i::before {
  color: var(--white-color);
}
.trending_icon:hover::before {
  opacity: 1;
  visibility: visible;
}
.trending_icon:hover .tooltip_heart {
  opacity: 1;
  visibility: visible;
}
.trending_btn {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  bottom: 1.5rem;
  left: 5%;
  right: 5%;
  text-align: center;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 3rem;
  transition: all 0.2s linear;
  transform: translateY(2rem);
  opacity: 0;
  visibility: hidden;
}
.trending_btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
.trending_product_image:hover .trending_btn {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.section_banner {
  margin-bottom: 10rem;
  overflow-x: auto;
  width: 100%;
  padding: 0px 3rem;
}
.section_img {
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 0.77166666666;
}
.section_img img {
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}
.section_text {
  bottom: 2rem;
  left: 2rem;
}
.section_text h3 {
  color: var(--black-color);
  text-align: left;
  font-family: var(--primary-font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: 5rem;
  margin-bottom: 1rem;
}
.section_text p {
  color: var(--black-color);
  font-family: var(--primary-font-family) Jost;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
.section_text p:nth-child(1) {
  margin-bottom: 0.5rem;
}
.section_text .section_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: var(--black-color);
  bottom: 0;
}
.section_link {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
}
.section_img:hover .section_link::before {
  animation: gothrough ease-out 1s infinite;
}
.section_img:hover img {
  transform: scale(1.05);
}
@keyframes gothrough {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.section_banner .row .col-lg-4 {
  max-width: 60%;
}

.cs_img img {
  border-radius: 50%;
  border: 1px solid #ebebeb;
  padding: 5px;
}
.cs_item {
  padding: 4rem 3rem 4rem 3rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--Border-1-fashion, var(--border-color));
  text-align: center;
  gap: 2rem;
}
.cs_item .cs_review {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: 24px;
  margin-bottom: 0px;
}
.cs_evaluate .cs_author {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  margin-bottom: 0px;
}
.cs_evaluate .star {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
.shop_gram_img {
  border-radius: 1rem;
  aspect-ratio: 1;
}
.shop_gram_img:hover img {
  transform: scale(1.1);
}
.shop_gram_img img {
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
}
.shop_gram_cart i {
  font-size: var(--primary-font-size);
}
.shop_gram_cart {
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background: var(--black-color);
  padding: 6px;
}
footer {
  margin-top: 10rem;
}
.footer_content h3 {
  margin-bottom: 2.5rem;
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.footer_content img {
  height: 100%;
  margin-bottom: 2.5rem;
}
.footer_content p {
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
}
.footer_content:first-child p a {
  text-decoration: none;
  color: var(--text-color);
}

.footer_list_link {
  display: block;
  text-decoration: none;
  padding: 8px 0px;
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  transition: all 0.3s linear;
  line-height: normal;
}
.footer_list_item:nth-child(1) .footer_list_link {
  padding-top: 0px;
}
.footer_list_link:hover {
  transform: translateX(1rem);
  color: var(--black-color);
}
.footer_input {
  margin-top: 2.5rem;
}
.footer_input button {
  border-radius: 3rem;
  width: 15rem;
  height: 5rem;
  padding: 1rem;
  background-color: var(--black-color);
  outline: none;
  border: none;
  color: var(--white-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.footer_input input {
  color: #999;
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  padding-left: 2rem;
  flex: 1;
  border-radius: 3rem;
  border: 0.1rem solid var(--border-color);
  background: var(--white-color);
  transition: all 0.2s linear;
}
.footer_input input:focus {
  border-color: var(--black-color);
  outline: var(--black-color);
}
.footer_main {
  padding-bottom: 8rem;
  border-bottom: 0.1rem solid var(--border-color);
}
.green {
  position: relative;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.green::before {
  content: "";
  position: absolute;
  box-shadow: 0 0 0 0.1rem #ddd, inset 0 0 0 0.2rem var(--white-color);
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s linear;
}
.green.active::before {
  box-shadow: 0 0 0 0.1rem var(--black-color),
    inset 0 0 0 3px var(--white-color);
}
.green::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  bottom: 0.2rem;
  left: 0.2rem;
  border-radius: 50%;
  background: #7abdb5;
  overflow: hidden;
}
.green.purple::after {
  background: #d7b2bb;
}
.green.blue::after {
  background: #3f8ad1;
}
.green.black::after {
  background: var(--black-color);
}
.green.beige::after {
  background: beige;
}
.green.pink::after {
  background: #fcd1db;
}
.green.white::after {
  background: var(--white-color);
}
.green.yellow::after {
  background: #e2c28f;
}
.back-btn:hover {
  background-color: var(--black-color);
}
.back-btn:hover i::before {
  color: var(--white-color);
}
.next-btn:hover {
  background-color: var(--black-color);
}
.next-btn:hover i::before {
  color: var(--white-color);
}
.back-top {
  cursor: pointer;
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 3rem;
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
  bottom: 10rem;
  text-align: center;
  z-index: 1;
  transform: scale(0);
  overflow: hidden;
  transition: all linear 0.3s;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.bls_back-top {
  bottom: 0;
  right: 0;
  width: 100%;
  transition: all linear 0.1s;
  background-color: var(--black-color);
  position: absolute;
  bottom: 0;
  height: 0%;
}
.back-top_icon {
  font-size: 1.2rem;
  mix-blend-mode: difference;
}
.back-top_show {
  transform: scale(1);
}
.body_head_img {
  margin-bottom: 10rem;
}
.body_head_img img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.body_head_img_text {
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
.body_head_img_text h1 {
  color: var(--black-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 8rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: 8rem;
  margin-bottom: 2rem;
  animation: text_go_up 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.body_head_img_text p {
  color: var(--black-color);
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--primary-font-weight);
  line-height: normal;
  margin-bottom: 5rem;
  opacity: 0;
  animation: text_go_up 0.6s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.body_head_img_text button {
  color: var(--white-color);
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 20rem;
  height: 5.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
  background: var(--black-color);
  opacity: 0;
  animation: text_go_up 0.6s 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes text_go_up {
  0% {
    transform: translateY(7rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.tooltip_heart {
  position: absolute;
  z-index: 2;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.3rem;
  line-height: normal;
  font-family: var(--primary-font-family);
  border-radius: 5px;
  background-color: var(--black-color);
  color: var(--white-color);
  max-width: 360px;
  content: "Add to Wislist";
  text-align: center;
  right: calc(100% + 9px);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  transition: all 0.2s linear;
}
.trending_icon::before {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: "";
  right: calc(100% + 4px);
  border-left-color: var(--black-color);
  top: 50%;
  transform: translateY(-50%);
  border-right-width: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}
.social {
  gap: 10px;
  margin-top: 20px;
}
.social_item_link:hover svg path {
  fill: var(--black-color);
}
.social_item_link:hover svg circle {
  stroke: var(--black-color);
}
.social_item_link svg circle {
  transition: all 0.2s linear;
}
.social_item_link svg path {
  transition: all 0.2s linear;
}

.social_item_link span {
  position: absolute;
  z-index: 2;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.3rem;
  line-height: normal;
  font-family: var(--primary-font-family);
  border-radius: 5px;
  background-color: var(--black-color);
  color: var(--white-color);
  max-width: 360px;
  content: "Add to Wislist";
  text-align: center;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}
.social_item {
  position: relative;
}
.social_item::after {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: "";
  border-bottom-color: var(--black-color);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-width: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}
.social_item:hover span {
  top: calc(100% + 9px);
  visibility: visible;
  opacity: 1;
}
.social_item:hover::after {
  top: calc(100% + 5px);
  visibility: visible;
  opacity: 1;
}
.last {
  padding: 30px 0;
}
.last .language span{
  color: #555;
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
